.corpo{

        padding-right: 0px;
    margin-left: 0px;
    margin-right: 20px;
}


/*necessario para rodar a barra de rolagem*/
.corpo {
    height: 100%;
    overflow: auto;
    width: 1195px;
}

#bottom {
    display: block;
    margin-top: 2000px;
}

#carousel01 img{
   border-radius: 5px;
   

}

 .produtos_in{

                width: 1000px;
                float: right;
            }
*/



